.root {
  min-height: 500px;
}

:root, :host {
  --arcgis-charts-default-width: 100%;
  --arcgis-charts-default-height: 100%;
}

.border {
  border: 1px solid grey;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container .header {
  width: 100%;
  display: flex;
}

.container .header button {
  width: 50%;
}

.container .contents {
  width: 100%;
  min-height: 156px;
}

.container .contents .content {
  width: 100%;
  height: 100%;
}