:root,
:host {
  --arcgis-charts-default-width: 100%;
  --arcgis-charts-default-height: 100%;
}

.d-flex {
  display: flex;
}

.border {
  border: 1px solid grey;
}

#app {
  position: relative;
  width: 1280px;
  height: 800px;
}

.container {
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  left: 10.8%;
  top: 10.5%;
  width: 30.7%;
  height: 18.1%;
}

.resizable {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.resizer {
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
