.root {
  min-height: 300px;
}
:root, :host {
  --arcgis-charts-pie-chart-width: 100%;
  --arcgis-charts-pie-chart-height: 100%;
}
.border {
  border: 1px solid grey;
}
.d-flex {
  display: flex;
}
.container {
  width: 378px;
  height: 154px;
}